* {
  font-size: 18px;
  font-family: 'Quicksand', sans-serif;
}

html {
  background: url(../images/background.jpg) no-repeat center center fixed;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/background.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100%;
}

body {
  width: 100%;
}

/* nav */
.navHeader {
  display:inline;
}
.navHeader a{
  font-family: 'Titan One', cursive;
  font-size:40px;
  color:white;
  margin-left:20px;
  text-decoration: none;
  transition: 230ms;
}
header {
  font-family: 'Quicksand', sans-serif;
  background-color:rgba(37, 41, 49, .96);
  height:50px;
}
.nav {
  display:inline-block;
}
.nav li {
  display:inline-block;
  margin-left:20px;
}
.nav li a{
  text-decoration: none;
  color:white;
  transition: 230ms;
}
.nav li a:hover{
  text-decoration: underline;
  color:rgb(25, 255, 121)
}
.navHeader a:hover{
  color:rgb(25, 255, 121)
}
/* location */
#location {
width: 500px;
height: 120px;
background-color: #242931f8;
margin: 50px auto 0 auto;
border-radius: 5px;
overflow: auto;
font-family: 'Quicksand', sans-serif;
}

#location form input {
  height: 40px;
  color: white;
  display: block;
  margin: 3% auto;
  font-weight: bold;
  background-color: rgb(87, 83, 83);
  border-radius: 5px;
  outline: 0;
  border: none;
  transition: 350ms;
}
#location button:hover {
  cursor: pointer;
  background-color: darkgray;
}

#location button:active {
  background-color: rgb(18, 160, 77);
}
#location p {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 1px;
}

/* main */
#main {
  color: white;
  margin: 25px auto 0 auto;
  width: 500px;
  height: 450px;
  background-color: #242931f8;
  border-radius: 5px;
}

#inner-container {
  display: block;
  width: 200px;
  padding-top: 20px;
  margin: auto;
}

.mealtype {
  font-family: 'Quicksand', sans-serif;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
  width: 200px;
  height: 45px;
  text-decoration: none;
  padding-top: 25px;
  background-color: rgb(87, 83, 83);
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  color: white;
  transition: 300ms;
  margin: 10px auto;
}

.mealtype:hover {
background-color: darkgray;
}

label input{
  visibility: hidden; 
  position: absolute; 
}

label input:checked + p { 
  background-color: rgb(18, 160, 77);
}

#price {
  display: block; 
  width: 100%;
  height: 35px;
  padding-top: 20px;
  padding-bottom: 10px;
  margin: auto;
}

.dollar {
  font-weight: bold;
  color: white;
  background-color: rgb(87, 83, 83);
  text-align: center;
  height: 30px;
  display: inline-block;
  margin: 0 auto;
  width: 50px;
  border-radius: 5px;
  transition: 300ms;
  padding-top: 10px;
}

p.dollar {
  width: 22%;
  margin-right: 2%;
}

#lastdollar {
  margin-right: 0%
}

.dollar:hover {
  cursor: pointer;
  background-color: darkgray;
}

.meal-type:first-child {
  margin-top: 15px;
}

.meal-type {
  display: block;
  width: 200px;
  height: 50px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

#submit {
  display: block;
  width: 200px;
  height: 50px;
  margin: 15px auto;
  transition: 300ms;
  background-color: rgba(169, 169, 169, 0.24);
  border: 1px solid;
  outline: 0;
  font-weight: bold;
  color: white;
  border-radius: 80px;
}

#submit:hover {
  cursor: pointer;
  background-color: lightgreen;
  border-color: lightgreen;
}

#submit:active {
  background-color: rgb(18, 160, 77);
  border-color: rgb(18, 160, 77);
}

.dollar:active, .mealtype:active {
  background-color: rgb(18, 160, 77);
  transition: 1000ms;
}

a {
  text-decoration: none;
  color: white;
  transition: 300ms;
}

a:hover {
  color:rgb(160, 78, 255);
}

#map {
  width: 400px;
  height: 400px;
}

#error-msg {
  margin-top: 10px;
  text-align: center;
  margin-bottom: 0px;
}

#error-msg p {
  font-size: 20px;
  display: inline-block;
  color: red;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;

}
