html {
  background: url(../images/table-salad.jpeg) no-repeat center center fixed;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/table-salad.jpeg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100%;
}
  
body {
    font-family: 'Quicksand', sans-serif;
    color: white;
    background-image: url(img/table-salad3.jpeg);
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6) ), url('../images/table-salad3.jpeg');
    background-size: cover;
}
h1 {
  font-size: 22px;
}
p {
  font-size: 22px;
}
.navHeader {
  display:inline;
}
.navHeader a{
  font-family: 'Titan One', cursive;
  font-size:40px;
  color:white;
  margin-left:20px;
  text-decoration: none;
  transition: 230ms;
}
header {
  background-color:rgba(37, 41, 49, .96);
  height:50px;
}
.nav {
  display:inline-block;
}
.nav li {
  display:inline-block;
  margin-left:20px;
}
.nav li a{
  text-decoration: none;
  color:white;
  transition: 230ms;
}
.nav li a:hover{
  text-decoration: underline;
  color:rgb(25, 255, 121)
}
.navHeader a:hover{
  color:rgb(25, 255, 121)
}

main {
  width: 960px;
  margin: 0px auto;
}
h1 {
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
}
form {
    margin-left: 9%;
}

img {
  opacity: .6;
  border-radius: 10px;
  width: 200px;
  height: 200px;
  border: solid;
  border-color: black;
  border-width: 2px;
}

img:hover {
    cursor: pointer;
    transform: scale(1.1);
}

div {
  float: left;
  width: 200px;
  margin: 30px;
}

div p {
  text-align: center;
}

div input {
  visibility: hidden;
  position: absolute;
}

div input:checked + img{
  border-color: rgb(25, 255, 121);
  border-width: 2px;
  opacity: 1;
}

button {
    display: block;
    width: 200px;
    height: 50px;
    margin: 0px auto;
    margin-bottom: 30px;
    transition: 300ms;
    background-color: rgba(169, 169, 169, 0.24);
    border: 1px solid;
    outline: 0;
    font-weight: bold;
    color: white;
    border-radius: 80px;
    font-size: 18px;
}

button:hover {
  cursor: pointer;
  border:solid rgb(25, 255, 121) 2px;
  background-color: rgb(25, 255, 121);
}

button:active {
  border:solid rgb(18, 160, 77) 2px;
  background-color: rgb(18, 160, 77);
}

a {
  text-decoration: none;
  color: white;
  transition: 300ms;
}
  
a:hover {
  color:rgb(160, 78, 255);
}