html {
    background: url(images/wood_bk.jpg) no-repeat center center fixed;
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('images/wood_bk.jpg'); */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100%;
}

#abouthead{
    font-family: 'Titan One', cursive;
    font-size: 50px;
    color: rgb(18, 160, 77);
    text-align: center;
    margin-top: 30px;
}
  
#abouthead2 {
    font-family: sans-serif;
    font-size: 38px;
    color: rgb(18, 160, 77);
    text-align: center;
    margin-top: 40px;
    font-weight: bolder;
}

#abouthead3{
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    color: white;
    text-align: center;
    margin-top: 20px;
    word-spacing: .1em;
    line-height: 2em;
    margin-left: 30px;
    margin-right: 30px;
}

#members1 {
    font-family: sans-serif;
    font-size: 38px;
    color: rgb(18, 160, 77);
    text-align: center;
    margin-top: 50px;
    font-weight: bolder; 
} 

#khoa {
    height: 300px;
    display: block;
    margin: auto;   
}

.founder {
    font-family: sans-serif;
    color: white;
    text-align: center;
    font-size: 28px;
    margin-top: 20px;
}

.teamcl {
    display: inline-block;
    width:30%;
}

.team {
    width: 80%;
}

