/* ABOUTUS.CSS */

* {
    background-color: #fffff9;
}

#abouthead{
    font-family: 'Titan One', cursive;
    font-size: 50px;
    text-align: center;
    margin-top: 30px;
}
  
#abouthead2 {
    font-family: sans-serif;
    font-size: 28px;
    color:black;
    text-align: center;
    margin-top: 40px;
    font-weight: bolder;
}

#abouthead3{
    font-family: helvetica;
    font-size: 22px;
    color: black;
    text-align: justify;
    margin-top: 20px;
    display: block;
    margin: auto;
    width: 900px;
}

#members1 {
    font-family:helvetica;
    font-size: 28px;
    color: black;
    text-align: center;
    margin-top: 50px;
} 

hr {
    color: gray;
}
#khoa {
    height: 300px;
    display: block;
    margin: auto;   
    border-radius: 100%;
}

.founder {
    font-family: helvetica;
    color: black;
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
}

.found {
    font-family: helvetica;
    font-size: 20px;
    color: black;
    margin-top: 10px;
}

.us {
    margin-left: 25px;
    font-family: helvetica;
    font-size: 18px;
    text-align: justify;
    color: black;
    width: 85%;
}

.teamcl {
    display: inline-block;
    width:30%;
}

.team {
    width: 52%;
    border-radius: 100%;
}

#tagline {
    font-family: helvetica;
    font-size: 24px;
    color: rgb(18, 160, 77);
    text-align: center;
}

a {
    text-decoration: none;
    transition: 350ms;
    color: rgb(18, 160, 77);
}

a:hover {
    color:rgb(160, 78, 255);
  }
