* {
    box-sizing: border-box;
}
body {
    position: relative;
}
a {
    text-decoration: none;
    display:block;
    color:white;
    text-transform: uppercase;
    font-family: 'Quicksand', sans-serif;
}
h1 {
    font-family: 'Titan One', cursive;
    font-size:170px;
    color:white;
}
h2 {
    font-size:35px;
    font-family: 'Quicksand', sans-serif;
    margin-bottom:20px;
}
.btn {
    text-align: center;
    margin:10px 20px 20px 20px;
    width:200px;
    height:50px;
    border:solid white 2px;
    border-radius:80px;
    padding-top:15px;
    transition: 200ms;
    display:inline-block;
    vertical-align:top;
}
.close {
    float:right;
    margin-right:20px;
    margin-top:10px;
}
.close:hover {
    cursor:pointer;
}
#signInButtonPopup {
    text-align: center;
}
#signInButton, #signInButtonPopup {
    background-color: transparent;
    text-transform: uppercase;
    color:white;
    font-size:15px;
    padding-top:2px;
}
.btn a {
    padding-top:5px;
}
.signIn {
    height:400px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index:100;
}
.overlay {
    background-color: #242931;
    height:100%;
    width:100%;
    opacity: 0.8;
    z-index:-50;
}
video#bgVideo { /*from stackoverflow*/
    position: fixed;
    right: 0;
    bottom: 0;
    width: auto;
    min-width: 100%;
    height: auto;
    min-height: 100%;
    z-index: -100;    
    background-size: cover;
}
.create:hover {
    text-decoration: underline;
}
#signInButton:hover, #signInButtonPopup:hover {
    border:solid rgb(25, 255, 121) 2px;
    background-color: rgb(25, 255, 121);
    cursor:pointer;
}
#guest:hover {
    border:solid rgb(160, 78, 255) 2px;
    background-color:rgb(160, 78, 255);
}
#signInButton:active, #signInButtonPopup:active {
    border:solid rgb(18, 160, 77) 2px;
    background-color: rgb(18, 160, 77);
    cursor:pointer;
}
#guest:active {
    border:solid rgb(107, 52, 170) 2px;
    background-color:rgb(107, 52, 170);
}
.modal-body input {
    width:80%;
    height: 30px;
    border-radius: 5px;
    text-transform: uppercase;
}
.modal { /*from w3schools*/
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 999; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content { /*from w3schools*/
    position: relative;
    text-align: center;
    background-color: #242931;
    color:white;
    margin: auto;
    padding: 20px;
    border-radius:50px;
    height: 500px;
    width: 600px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
.innerModal {
    margin-top:120px;
}
@keyframes animatetop { /*from w3schools*/
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}