html {
    background: url(img/table-salad.jpeg) no-repeat center center fixed;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('img/table-salad.jpeg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100%;
  }
body {
    font-family: 'Quicksand', sans-serif;
    color: white;
    background-size: cover;
}
header {
    background: rgb(44, 44, 44);
    height: 100px;
}
header ul li {
    display: inline-block;
    margin-top: 40px;
    margin-right: 75px;
}
nav {
    size: 100%;
    margin-top: 30px;
    padding-top: 30px;
    width: 100%;
    height: 100px;
    background-color: rgba(48, 48, 56, 0.479);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 1.0;
  }
  
  nav h1 {
    position: absolute;
    display: inline-block;
    text-align: center;
    font-size: 40px;
    margin-left: 50px;
    font-family: 'Titan One', cursive;
  }
  
  nav ul {
    width: 700px;
    padding-top: 20px;
    margin: 0 auto;
  
  }
  
  nav ul li {
    font-size: 26px;
    font-weight: bold;
    display: inline;
    padding: 0 50px 0 50px;
    margin: 0 auto;
  }

main {
    width: 960px;
    margin: 30px auto;
}
h1 {
    text-align: center;
}
img {
    opacity: .6;
    border-radius: 10px;
    width: 200px;
    height: 200px;
    border: solid;
    border-color: black;
    border-width: 2px;
}
img:hover {
    cursor: pointer;
}
div {
    float: left;
    width: 200px;
    margin: 30px;
}
div p {
    text-align: center;
}
div input {
    visibility: hidden;
    position: absolute;
}
div input:checked + img{
    border-color: rgb(25, 255, 121);
    border-width: 2px;
    opacity: 1;
}
button {
    margin: 10px 41% 10px 41%;
    border: none;
    padding: 10px 30px;
    background: #555;
    color: white;
    border-radius: 7px;
    font-size: 18px;
    transition: 350ms;
    cursor: pointer;
}
button:hover {
    border:solid rgb(25, 255, 121) 2px;
    background-color: rgb(25, 255, 121);
}
button:active {
    border:solid rgb(18, 160, 77) 2px;
    background-color: rgb(18, 160, 77);
}

a {
    text-decoration: none;
    color: white;
    transition: 300ms;
  }
  
  a:hover {
    color:rgb(160, 78, 255);
  }